.tree-menu-list {
  border: 1px solid #ccc;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  height: fit-content;
  overflow-y: auto;

}

.the-single-select-item {
  padding-left: 20px;
  width: calc(100% - 20px);
  box-sizing: border-box;
}

.the-single-select-item-container {
  position: relative;
  display: flex;
  align-items: center;
  height: 40px;
  border-radius: 1px;
  margin-left: auto;

  p {
    margin-bottom: 0px !important; // Fix override from NDL
  }

  &:hover {
    background-color: $outlined-neutral-hover;
  }
}

.the-single-select-item-container.item-selected p {
  font-weight: 700 !important;
}

.toggle-button {
  padding-right: 10px;
  align-items: center;
  padding-top: 5px;
}